li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
  
}

body{
 background-color: #F0E2B4;
}

.parallax-container {
  min-height: 75vh;
}

#content_container{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  background-color: whitesmoke;
}

.card-panel{
  height: 120px;
}