<li>
	<div class="card-panel white center-align z-depth-2">
	<h5>{{burger_name}}</h5>

	<div class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}<button class="waves-effect waves-light btn">Devour TIME!</button>{{else}}<span></span>{{/if}}
	</div>
	</div>
</li>
